.file-upload-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  .select-button, .upload-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .upload-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #d4edda;
    color: #155724;
  }
  .clear-button {
    background-color: #f44336; /* Red color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  
  .message.error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .file-tree {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  li {
    margin: 5px 0;
  }
  
  .folder::before {
    content: '📁';
    margin-right: 5px;
  }
  
  .file::before {
    content: '📄';
    margin-right: 5px;
  }
  